@import 'src/styles/_variables';
@import 'src/styles/_mixins';

.content {
  @include flex();
  color: $super-white-color;
  background-color: $btn-color;
  border-radius: $border-radius;
  font-size: 0.875rem;
  height: 32px;
  padding: 0 1.5rem;
  transition: 0.3s;
  cursor: pointer;

  //   @media (min-width: $tablet) {
  //     font-size: 1rem;
  //     height: 36px;
  //     padding: 0 1.75rem;
  //   }

  &:hover {
    background-color: $btn-hover-color;
  }

  &:disabled {
    background-color: $btn-disabled;
  }
}
