@import 'src/styles/_mixins';
@import 'src/styles/_variables';
@import 'src/styles/themes';
@import './../variables';

.main {
  @include flex();
  min-height: 100vh;
  padding-top: $header-height-mobile;
  transition: $theme-transition;
  background-color: $primary-color;
  color: $white-color;

  @media (min-width: $tablet) {
    padding-top: $header-height-tablet;
  }

  @media (min-width: $desktop) {
    padding-top: $header-height;
  }
}

.container {
  position: relative;
  max-width: $content-max-width;
  padding: $whrapper-padding;
}
