// Colors:
$primary-color: #161b22;
$secondary-color: #01b4e4;
$background-color: #080c10;
$tertiaryColor: #0d1117;

$white-color: #c9d1d9;
$super-white-color: #fff;
$black-color: #000;

$btn-color: #d83541;
$btn-hover-color: #2aa3fb;
$active-and-input-color: #b321215e;
$btn-disabled: grey;

$gap: 0.625rem;
$bigger-gap: 1.25rem;

// Layout
$header-height: 76px;
$header-height-tablet: 60px;
$header-height-mobile: 46px;

$whrapper-padding: 15px;
$whrapper-padding-mobile: 10px;

$navigation-width: 284px;
$navigation-mobile-width: 76px;
// Margin
$layout-margin: 0.9375rem;

// Padding
$main-side-padding: 1.25rem;

// Font
$bigger-font: 1.125rem;
$smaller-font: 14px;

// Shadow
$bottom-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);

// Responsive
$min-width: 320px;
$tiny-tablet: 512px;
$tablet: 768px;
$desktop: 992px;
$biggest-desktop: 1200px;
$whole-content: 1500px;

// Animation
$simple-transition: all 0.3s;

// Other
$border-radius: 4px;
$thick-border: 4px;

$bigger-nice-index: 70;
$nice-index: 69;
$almost-nice-index: 68;
$not-nice-index: 67;
