@import './_normalize';
@import './_variables';
@import './_mixins';

$font-path: 'public/assets';
/* pt-sans-regular - cyrillic_latin */
/* https://google-webfonts-helper.herokuapp.com/fonts/pt-sans?subsets=latin,cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url(#{$font-path}/fonts/pt-sans-v9-cyrillic_latin-regular.eot); /* IE9 Compat Modes */
  src: local('PT Sans'), local('PTSans-Regular'),
    url(#{$font-path}/fonts/pt-sans-v9-cyrillic_latin-regular.woff2) format('woff2'),
    /* Super Modern Browsers */ url(#{$font-path}/fonts/pt-sans-v9-cyrillic_latin-regular.woff)
      format('woff'),
    /* Modern Browsers */ url(#{$font-path}/fonts/pt-sans-v9-cyrillic_latin-regular.ttf)
      format('truetype'); /* Safari, Android, iOS */
  //  url(#{$font-path}/fonts/pt-sans-v9-cyrillic_latin-regular.svg#PTSans) format('svg'); /* Legacy iOS */ compile error, font is broken
}

/* exo-2-regular - latin_cyrillic */
/* https://google-webfonts-helper.herokuapp.com/fonts/exo-2?subsets=cyrillic,latin */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  src: url(#{$font-path}/fonts/exo-2-v5-latin_cyrillic-regular.eot); /* IE9 Compat Modes */
  src: local('Exo 2'), local('Exo2-Regular'),
    url(#{$font-path}/fonts/exo-2-v5-latin_cyrillic-regular.woff2) format('woff2'),
    /* Super Modern Browsers */ url(#{$font-path}/fonts/exo-2-v5-latin_cyrillic-regular.woff)
      format('woff'),
    /* Modern Browsers */ url(#{$font-path}/fonts/exo-2-v5-latin_cyrillic-regular.ttf)
      format('truetype'); /* Safari, Android, iOS */
  //  url(#{$font-path}/fonts/exo-2-v5-latin_cyrillic-regular.svg#Exo2) format('svg'); /* Legacy iOS */ compile error, font is broken
}

html {
  overflow-y: scroll;
}

html,
body {
  background-color: $background-color;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: $white-color;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: $white-color;
}

button,
input,
textarea,
select {
  outline: none;
  border: none;
  background-color: transparent;
  color: $white-color;
}

body {
  position: relative;
  min-height: 100vh;
  width: 100%;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  transition: 0.3s;

  @media (min-width: 768px) {
    width: 7px;
    height: 7px;
  }
}

/* Track */
::-webkit-scrollbar-track {
  background: $primary-color;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $active-and-input-color;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $btn-color;
}

// TODO
.skeleton {
  animation: skeleton-loading 1.1s linear infinite alternate;
}

.skeleton-text {
  width: 100%;
  height: 0.75rem;
  margin-bottom: 0.5rem;
  border-radius: 0.125rem;

  &:last-child {
    margin-bottom: $border-radius;
    width: 80%;
  }
}

// TODO choose the right color
@keyframes skeleton-loading {
  0% {
    background-color: $primary-color;
    border-color: $active-and-input-color;
  }
  100% {
    background-color: $active-and-input-color;
  }
}

.additional-error {
  margin-top: 25%;
  font-size: 1.2rem;
  text-align: center;
}
