@import 'src/styles/_variables';
@import 'src/styles/_mixins';

.modalOverlay {
  @include flex($j: right);
  @include position($position: fixed);
  background-color: rgba($color: #000000, $alpha: 0.6);
  z-index: $modal-index;
}

.modalRightContent {
  background-color: $white-color;
  min-height: 100vh;
  width: 25rem;
}

.modalBottomContent {
  align-self: flex-end;
  background-color: $white-color;
  width: 100vh;
  height: 25rem;
}
