@import 'src/styles/_variables';
@import 'src/styles/_mixins';

.modalOverlay {
  @include position($position: fixed);
  background: $background-color;
  opacity: $modal-opacity;
  z-index: $modal-overlay-index;
}

.modalRightContent {
  @include position($position: fixed, $left: none);
  @include show-right($s: 0.3s, $t: 25rem);
  background-color: $primary-color;
  color: $white-color;
  height: 100vh;
  width: 25rem;
  padding: 20px 20px;
  z-index: $modal-index;
  transition: $theme-transition;
}

.closeRightContent {
  @include hide-right($s: 0.3s);
}

.modalBottomContent {
  @include position($position: fixed, $top: none);
  @include show-bottom($s: 0.3s, $t: 25rem);
  background-color: $primary-color;
  color: $white-color;
  align-self: flex-end;
  height: 25rem;
  width: 100vh;
  z-index: $modal-index;
}

.closeBottomContent {
  @include hide-bottom($s: 0.3s);
}
